.container {
    position: relative;
    margin-top: 6rem;
    width: 100vw;
}

.tooltip {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 1rem;
    color: #909090;
    padding: 1.25rem;
}
.tooltip.disabled {
    display: none;
}

.pageBox {
    margin: 1.25rem 5vw;
    display: flex;
    font-size: 0.875rem;
    line-height: 1.75rem;
    justify-content: center;
}

.pageBox .pageBlock {
    width: 1.75rem;
    height: 1.75rem;
    margin: 0 0.625rem;
    color: #444;
    text-align: center;
}

.pageBox .lastPage {
    fill: #444;
}

.pageBox .pageBlock:not(.disabled) {
    cursor: pointer;
}

.pageBox .pageBlock:not(.disabled):not(.current):hover {
    background-color: #f7f8fa;
}

.pageBox .pageBlock.current {
    background-color: #eeeeff;
    fill: #0f0ade;
    color: #0f0ade;
}

.pageBox .disabled.pageBlock {
    fill: #c9cdd4;
    color: #c9cdd4;
    cursor: default;
}

.pageBox .pageBlock .icon {
    margin: 0.4375rem;
    width: 0.875rem;
    height: 0.875rem;
}

.queryPanel {
    position: relative;
    overflow: auto;
    width: 90vw;
    margin: 1.25rem auto;
    border: 0.0625rem solid #59d7ff;
}

.queryPanel .query {
    display: block;
}

.queryPanel .query .dataSelector {
    display: inline-block;
    margin: 0.3125rem 0.9375rem;
    font-size: 1rem;
}

.queryPanel .operationButton {
    display: inline-block;
    margin: 0.3125rem 0.9375rem;
}

.queryPanel .operationButton button {
    cursor: pointer;
    font-size: 1rem;
    background-color: #fff;
    outline: none;
    border: 0.0625rem solid #000;
    padding: 0.3125rem 0.625rem;
}
.queryPanel .operationButton {
    font-size: 1rem;
    outline: none;
}
.queryPanel .operationButton input {
    margin-right: 4px;
    outline: none;
}

.tableBox td.details, .tableBox td.delete {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;

}
.tableBox td.details .icon, .tableBox td.delete .icon {
    width: 2rem;
    height: 2rem;
}
.tableBox td.details .icon {
    fill: #5f97ea;
}
.tableBox td.delete .icon {
    fill: #ea5f5f;
}

.previewContainer {
    padding: 1.25rem 0.625rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid #909090;
    background-color: #fff;
}
.previewContainer .item {
    margin: 0.3125rem 0;
}
.previewContainer .text {
    font-size: 1rem;
}
.previewContainer .image {
    max-width: 100%;
}
.previewContainer .delete {
    cursor: pointer;
    display: block;
    text-align: center;
    font-size: 1rem;
    outline: none;
    border: 0.0625rem solid #ff5b5b;
    padding: 0.625rem;
    background-color: #fff;
    border-radius: 0.25rem;
    transition: all .2s;
}
.previewContainer .delete:hover {
    background-color: #ff5b5b;
    color: #fff;
}