<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>招募发布</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static',filename='lib/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/message.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/init.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/preview.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='release/css/release.css') }}">

</head>
<body>
<!--PREVIEW-->
<div class="preview invisible">
    <button class="closePreview">×</button>
    <img src="" alt="预览图" class="previewContainer">
</div>
<!--END PREVIEW-->
<!--NAV-->
<div class="nav">
    <div class="title">招募发布</div>
    <div class="desktop-links">
        <a href="/interface/experimenterCenter.html" class="navLink">个人</a>
        <a href="/releasedInformation" class="navLink">招募</a>
        <a href="/logout" class="navLink danger">登出</a>
    </div>
    <button class="unfold">
        <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="48" height="48"><path d="M512 714.666667c-8.533333 0-17.066667-2.133333-23.466667-8.533334l-341.333333-341.333333c-12.8-12.8-12.8-32 0-44.8 12.8-12.8 32-12.8 44.8 0l320 317.866667 317.866667-320c12.8-12.8 32-12.8 44.8 0 12.8 12.8 12.8 32 0 44.8L533.333333 704c-4.266667 8.533333-12.8 10.666667-21.333333 10.666667z" fill="#333333"></path></svg>
    </button>
</div>
<div class="mobile-links">
    <a href="/interface/experimenterCenter.html" class="navLink">个人</a>
    <a href="/releasedInformation" class="navLink">招募</a>
    <a href="/logout" class="navLink danger">登出</a>
</div>
<!--END NAV-->
<div class="container">
    <div class="container-wrap">
        <form method="post" enctype="multipart/form-data" action="/release" class="form" id="form">
            <div class="dataInput">
                <label class="textLabel" for="experiment">实验名称：</label>
                <input id="experiment" name="experiment" type="text" class="input textInput">
            </div>
            <div class="dataInput">
                <label class="textLabel" for="experimenter">主试：</label>
                <input id="experimenter" name="experimenter" type="text" class="input textInput">
            </div>
            <div class="dataInput">
                <label class="textLabel" for="participantNumber">被试人数：</label>
                <input id="participantNumber" name="participantNumber" type="text" class="input textInput">
            </div>
            <div class="dataInput">
                <label class="textLabel" for="fee">被试费：</label>
                <input id="fee" name="fee" type="text" class="input textInput">
            </div>
            <div class="dataInput">
                <label class="textLabel" for="location">实验地点：</label>
                <input id="location" name="location" type="text" class="input textInput">
            </div>
            <div class="dataInput">
                <span>实验招募信息图：</span>
                <label for="file" class="label">
                    选择文件
                </label>
                <input id="file" name="file" type="file" class="input invisible"/>
                <div class="currentFile"></div>
            </div>
            <button class="previewButton button disabled">预览</button>
            <!--        <div class="dataInput invisible" >-->
            <!--            <label for="id" class="label"></label>-->
            <!--            <input id="id" name="id" class="input"/>-->
            <!--        </div>-->
            <div class="dataInput">
                <label class="textLabel" for="startDate">起始日期：</label>
                <input value="2024-01-01" class="input" type="date" id="startDate" name="startDate">
            </div>
            <div class="dataInput">
                <label class="textLabel" for="endDate">结束日期：</label>
                <input value="2024-02-01" class="input" type="date" id="endDate" name="endDate">
            </div>
            <button class="submit button disabled">提交</button>
        </form>
    </div>
</div>
<!--<div class="tooltip disabled">输入完成后回车键查询</div>-->

<div class="messageBox invisible">
    <div class="message"></div>
</div>

<script src="{{ url_for('static',filename='lib/js.cookie.min.js') }}"></script>
<script src="{{ url_for('static',filename='lib/xlsx.full.min.js') }}"></script>
<script src="{{ url_for('static',filename='lib/header.js') }}"></script>
<script src="{{ url_for('static',filename='lib/message.js') }}"></script>
<script src="{{ url_for('static',filename='lib/preview.js') }}"></script>
<script src="{{ url_for('static',filename='release/js/release.js') }}"></script>

</body>
</html>